<div class="bg-dark p-5 mt-5 text-light center">
  <h1>Some Pinteresting Ideas</h1>
  <p>A Very Boring and Basic Pinterest Clone to Practice Working with Ruby on Rails</p>
  <%= link_to "Login", root_path, class:'btn btn-outline-light me-2'%>
  <%= link_to "Join", root_path, class:'btn btn-outline-primary ms-2'%>

</div>